@charset "utf-8";
/* css */  

body {
    margin: 0;
    font-family: Verdana, sans-serif;
    position: relative;
}

#hide {
    width: 0;
    height: 0;
    overflow: hidden;
    display: inline-block;
    position: absolute;
}

#header {
    padding: 30% 0 0 0;
    background-image: url(../images/header.jpg);
    background-size: cover;
    position: relative;
    filter: grayscale(75%);
}

#header div {
    position: absolute;
    top: 25px;
    right: 25px;
    padding: calc(30% - 50px) calc(15% - 25px)0 calc(15% - 25px);
    background-image: url(../images/cd.svg);
    background-size: 30%;
    background-position: top right;
    background-repeat: no-repeat;
    filter: grayscale(75%);
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 999;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 10px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: darkslategray;
}

nav ul a h1 {
    font-size: inherit;
    margin: 0;
}

main {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main ul {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 1200px;
}

main ul li {
    display: inline-block;
    width: 200px;
    margin: 20px;
}

main ul li ul {
    margin: 0;
    padding: 0;
}

main ul li ul li {
    display: list-item;
    margin: 0;
    padding: 10px 0;
}

main ul li ul li a {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
}

main ul li ul li a img {
    width: 100%;
}

main ul li ul li a img:hover,
main ul li ul li a img:focus {
    transform: scale(1.05);
    opacity: 0.75;
    transition: transform 1s linear, opacity 1s linear;
}

footer {
    background-color: black;
    font-size: smaller;
}

footer ul {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

footer ul li {
    display: inline-block;

}

footer ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

footer ul li a:hover,
footer ul li a:focus,
nav ul li a:hover,
nav ul li a:focus {
    color: gold;
}

/* Breaks */
@media only Screen and (max-width: 993px) {

    #header div {
        padding: calc(75% - 50px) calc(37.5% - 25px) 0 calc(37.5% - 25px);
    }
}