@charset "utf-8";
/* css */  

main ul {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 1200px;
}

main ul li {
    display: inline-block;
    width: 200px;
    margin: 20px;
}

main ul li ul {
    margin: 0;
    padding: 0;
}

main ul li ul li {
    display: list-item;
    margin: 0;
    padding: 10px 0;
}


/* Breaks */  
@media only Screen and (max-width: 992px) {
   
}